body {
  background-color: silver;
	margin: 0;
	overflow: hidden;
}
h1{
  color: red;
}
h1{
  text-align: center;
}
.low{
  padding-top: 15px;
}
.pow{
  padding-top: 15px;
}
low{
  padding-top: 15px;
}
.container{
  background-color:white;

}
body {
  background-image: url(../js/isaac.jpg);
}
