 h1{
   color: red;
   text-align: center;
   font-family: 'Dosis', sans-serif;
 }
 .border{
   width: 1000px;
   border: 10px solid red;
   padding:;
   margin-left: :50px;
   float: center;

 }
.pone{
  padding-bottom: 15px;
}
.two{
  padding-bottom: 15px;
}
body{
  background-image: url("blue.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#all{
  color:red;
  font-family: 'Charmonman', cursive;
  font-size:40px;
  font-weight:bold ;
}
